/BankWithdrawPinCode/.vs
/BankWithdrawPinCode/bin
/BankWithdrawPinCode/Migrations
/BankWithdrawPinCode/obj
BankWithdrawPinCode/BankWithdrawPinCode.sln
/ATMConsoleApp.Tests/bin
/ATMConsoleApp.Tests/obj
/ATMConsoleApp/bin
/ATMConsoleApp/obj
ATMConsoleApp/ATMConsoleApp.sln
